<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p class="header">スケジュール管理アプリ</p>
    </header>
    <%= yield %>
    <footer>
      <p class="footer"><%= "本日の日付 : #{Date.today.strftime("%Y/%m/%d")}" %></p>
    </footer>
  </body>
</html>
